.button {
  background: none;
  border: none;
  color: var(--color-green-dark);
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  padding: 0;
}

.button:hover {
  text-decoration: underline;
}
