.waveBottom {
  display: block;
  width: 100%;
  height: auto;
  margin-top: -7vw;
  position: relative;
  z-index: 2;
  pointer-events: none;
  margin-bottom: -1px;
}

@media (max-width: 768px) {
  .waveBottom text {
    font-size: 0.8rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .waveBottom text {
    display: none;
  }
}
